*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
}


.header{
    background-color: rgb(241, 128, 35);
    padding: 32px;
}
.ul{
    list-style-type: none;
    margin-right: 400px;
}
ul a{
    color: white;
    text-decoration: none;
}



.col{
    background-color: midnightblue;
    padding: 16px 24px;
}